<header>
  <div class="container">
    <div class="header-logo">
      <div class="header-title">
        <h1>RoamVerse</h1>
      </div>
      <div class="header-description">
        <p>Seyahat deneyimlerinizi paylaşın ve yeni arkadaşlar edinin!</p>
      </div>
    </div>
    <div class="header-content">

      <div class="header-call-to-action">
        <a href="#">
          <button class="button">TOPLULUĞA KATIL</button>
          <button class="button">BİLGİ AL</button>
          <button class="button">YORUMLAR</button>
        </a>
      </div>
    </div>
  </div>
</header>
