<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <ul>
          <li><a href="#">En Popüler Rotalar</a>
            <ul>
              <li><a href="#">Bali, Endonezya</a></li>
              <li><a href="#">Phuket, Tayland</a></li>
              <li><a href="#">Paris, Fransa</a></li>
              <li><a href="#">Roma, İtalya</a></li>
              <li><a href="#">Londra, İngiltere</a></li>
            </ul>
          </li>
          <li><a href="#">Popüler Şehirler</a>
            <ul>
              <li><a href="#">New York, ABD</a></li>
              <li><a href="#">Tokyo, Japonya</a></li>
              <li><a href="#">Londra, İngiltere</a></li>
              <li><a href="#">Paris, Fransa</a></li>
              <li><a href="#">Barcelona, İspanya</a></li>
            </ul>
          </li>
          <li><a href="#">Gezi Rehberi</a>
            <ul>
              <li><a href="#">Roma'nın Gizemli Sokakları</a></li>
              <li><a href="#">Tokyo'nun Modern Çekiciliği</a></li>
              <li><a href="#">Barcelona'nın Gece Hayatı</a></li>
              <li><a href="#">Phuket: Tayland'ın Cennet Koyları</a></li>
              <li><a href="#">Saklı Cennet: Bali'nin Büyüleyici Doğası</a></li>
            </ul>
          </li>
          <li><a href="#">İletişim</a>
            <ul>
              <li><a href="#">Bize Ulaşın</a></li>
              <li><a href="#">İletişim Bilgilerimiz</a></li>
              <li><a href="#">Soru ve Görüşleriniz İçin</a></li>
              <li><a href="#">RoamVerse Ekibiyle Tanışın</a></li>
              <li><a href="#">Geri Bildirimde Bulunun</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="footer-copyright">
        © 2024 RoamVerse
      </div>

      <div class="footer-social-media">
        <button href="#">
          <i class="fab fa-facebook"></i>
        </button>
        <button href="#">
          <i class="fab fa-twitter"></i>
        </button>
        <button href="#">
          <i class="fab fa-instagram"></i>
        </button>
      </div>

    </div>
  </div>
</footer>
