<div class="container">
    <form class="login-form">
      <h2>Giriş Yap</h2>
      <label for="username">Kullanıcı Adı:</label>
      <input type="text" id="username" name="username" required>
  
      <label for="password">Şifre:</label>
      <input type="password" id="password" name="password" required>
  
      <button class="button button-primary" type="submit">Giriş Yap</button>
  
      <p class="register-link">Hesabınız yok mu? <a [routerLink]="['/uye-ol']">Kaydolun</a></p>
    </form>
  </div>
  